<html>

<body>
<!--<div>
    <form method="post">
        <input type="text" name="text" placeholder="Enter massege" />
        <input type="text" name="tag" placeholder="Тэг">
        <button type="submit">Add</button>
    </form>
</div>-->
<form method="post" action="add">
    <input type="text" name="nickname" placeholder="Nickname?">
    <button type="submit">add</button>
</form>
<form method="post" action="find">
    <input type="text" name="nickname" placeholder="Nickname?">
    <button type="submit">Find</button>
</form>
<div>PLAYERS:</div>
{{#players}}
    <div>
        <b>{{playerId}}</b>
        <span>{{nickname}}</span>
        <br />
    </div>
{{/players}}
</body>
</html>