<html>

<body>
<!--<div>
    <form method="post">
        <input type="text" name="text" placeholder="Enter massege" />
        <input type="text" name="tag" placeholder="Тэг">
        <button type="submit">Add</button>
    </form>
</div>-->
<div>           PLAYERS</div>
<form method="post" action="find">
    <input type="text" name="nickname">
    <button type="submit">Find</button>
</form>

{{#players}}
    <div>
        <b>{{playerId}}</b>
        <span>{{nickname}}</span>
        <br />
    </div>
{{/players}}
</body>
</html>